@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="col-md-4">
        <h1>Subscribe to alerts:</h1>
        <div>
            <input type="checkbox" aria-label="Checkbox for following text input" />
            <h2>DO more than</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    20
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">30</button>
                    <button class="dropdown-item" type="button">40</button>
                    <button class="dropdown-item" type="button">50</button>
                </div>
            </div>
        </div>
        <div>
            <input type="checkbox" aria-label="Checkbox for following text input" />
            <h2>DO less than</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    20
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">30</button>
                    <button class="dropdown-item" type="button">40</button>
                    <button class="dropdown-item" type="button">50</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button>Cancel</button>
        <button>Save settings</button>
    </div>
</div>