@Model List<MockData>
}
@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="col-md-4">
        <h1>Subscribe to alerts:</h1>
        <div>
            @foreach (var item in Model)
            {
                <div class="checkbox-inline">
                    <input type="checkbox" />
                    <h2>@item.Object @item.Condition @item.Value.ToString()</h2>
                </div>
                <br />
                <br />

            }
       </div>
    </div>
    <div class="modal-footer">
        <button data-pdsa-action="cancel">Cancel</button>
        <button data-pdsa-action="save">Save settings</button>
    </div>
</div>

@section scripts

{

    <script>

        $(document).ready(function () {

            $("[data-pdsa-action]").on("click", function (e) {

                e.preventDefault();
                console.log($(this).data("pdsa-action") + " was clicked")

                $("#EventCommand").val($(this).data("pdsa-action"));

                $("form").submit();

            });

        });

    </script>

}